body{
    /**
        styling untuk body
    */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5em;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 100px;
    margin-bottom: 10px;
}

h1,h2,h3,h4,h5,h6{
    text-decoration: underline;
    font-weight: bold;
}

p{
    color: darkturquoise;
}

a{ /* normal anchor */
    text-decoration: none;
    color: darkred;
}

a:visited{ /*anchor yg sudah diklik*/
    color: greenyellow;
}

a:hover{ 
    font-size: 1.7em;
}

#daftar li{
    color: navy;
}